@import url("style/header.css");
body {
    background-color: rgb(192, 195, 255);
}
.container img{
    max-width:200px;
    max-height: 100px;
    width:auto;
    height: auto;
    width: 40%;
    height: 40%;
}

h1 {
    color:rgb(240, 50, 50);
}

h2 {

    color:rgb(150, 228, 195);
    
}
footer{
    background-color:#191717;
    color:antiquewhite;
}
