@import url("style/header.css");
body {
    background-color: rgb(181, 184, 251);
}
.container img{
    max-width:200px;
    max-height: 100px;
    width:auto;
    height: auto;
    width: 40%;
    height: 40%;
}

.h1 {
    color:rgb(0, 0, 1);
}

{

    color:rgb(97, 187, 187);estre

    
}